{% extends "_base.html"%}

{% block content %}
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Add Student</legend>
        <div class="form-group">
            <label for="{{form.name.id_for_label}}">
                Name
            </label>
            {{form.name}}
        </div>
        <div class="form-group">
            <label for="{{form.email.id_for_label}}">
                email
            </label>
            {{form.email}}
        </div>
        <div class="form-group">
            <label for="{{form.db_folder.id_for_label}}">
                db_folder
            </label>
            {{form.db_folder}}
        </div>
        <div class="form-group">
            <label for="{{form.dropped_out.id_for_label}}">
                drop_out
            </label>
            {{form.dropped_out}}
        </div>
        <div class="form-group">
            <label for="{{test_form.problem1.id_for_label}}">
                problem1
            </label>
            {{test_form.problem1}}
        </div>
        <div class="form-group">
            <label for="{{test_form.problem2.id_for_label}}">
                problem2
            </label>
            {{test_form.problem2}}
        </div>
        <div class="form-group">
            <label for="{{test_form.problem3.id_for_label}}">
                problem3
            </label>
            {{test_form.problem3}}
        </div>
        <div class="form-group">
            <label for="{{test_form.problem4.id_for_label}}">
                problem4
            </label>
            {{test_form.problem4}}
        </div>
    </fieldset>
    <input type="submit" value="Add"/>
</form>
{% endblock %}
